.ui.toplevel.menu {
  background-color: #4257B2;
  border:none;
  box-shadow: none;
  padding-left: 20px;
  padding-top: 10px;
}
.blue-background {
  background-color: #4257B2;
  height: 80px;
}

.ui.button {
  background-color: #3ccfcf;
}